{% load static %}
<nav class="navbar">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    <button id="menuToggle" class="menu-toggle">
        <span class="material-icons">menu</span>
    </button>
    <ul class="nav-list">
        <li><a href="{% url 'myapp:index' %}">Home</a></li>
        <li><a href="{% url 'myapp:recipes' %}">Recipes</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'myapp:favorites' %}">Favorites</a></li>
        {% endif %}
        <li><a href="{% url 'myapp:about' %}">About</a></li>
    </ul>
    <div class="account-logo" style="position: absolute; top: 10px; right: 10px; width: 50px; height: 50px;">
        <a href="{% url 'myapp:login' %}">
            <img src="{% static 'myapp/images/account_logo.png' %}" alt="Account" class="account-logo-img" style="width: 100%; height: 100%; object-fit: contain;">
        </a>
    </div>
</nav>
<div id="sideMenu" class="side-menu">
    <div class="menu-header">
        <h3>Recipe Categories</h3>
        <button id="closeMenu" class="close-button">×</button>
    </div>
    <div class="search-container">
        <input type="text" id="recipeSearch" placeholder="Search recipes...">
        <span class="material-icons search-icon">search</span>
    </div>
           
    <div id="searchResults" class="search-results"></div>
</div>